<div ng-controller="LogginCtrl as logginCtrl" class="flip-container" ng-show="isLoading"
     layout="vertical"
     ng-class="{doFlip: flip}">
    <!--splash-screen-->

    <div class="flipper loggin">

        <section layout="vertical" flex layout-align="center" class="front">

            <form name="logginForm" novalidate="" layout="vertical" class="ng-pristine ng-valid ng-valid-required">

                <button ng-click="flip = !flip">
                    Sign up now <i class="fa fa-angle-double-right"></i>
                </button>

                <input type="text" ng-model="logginCtrl.logginUser.username"
                       name="username" required placeholder="Username"/>

                <input type="text" ng-model="logginCtrl.logginUser.password"
                       name="password" required placeholder="Password"/>

                <div ng-hide="logginForm.loggin.$valid" ng-messages="logginForm.loggin.$error"
                     class="errors">
                    <div ng-message="required">You did not enter your name</div>
                </div>

                <button ng-click="">
                    <i class="fa fa-user"></i> Loggin
                </button>

            </form>
            <!--<axi-loader></axi-loader>-->
        </section>


        <section layout="vertical" flex layout-align="center" class="back">

            <form name="signupForm" novalidate="" layout="vertical" class="ng-pristine ng-valid ng-valid-required">

                <button ng-click="flip = !flip">
                    Back to loggin <i class="fa fa-angle-double-right"></i>
                </button>

                <input type="text" ng-model="logginCtrl.signupUser.username"
                       name="username"
                       required
                       minlength="4"
                       maxlength="15"
                       pattern="^[-\w]+$"
                       placeholder="Username" />

                <div ng-if="signupForm.username.$touched" ng-messages="signupForm.username.$error" class="errors">
                    <div ng-message="required">You did not enter your username</div>
                    <div ng-message="minlength">Your username must be longer than 4 characters</div>
                    <div ng-message="maxlength">Your username is too long</div>
                    <div ng-message="pattern">Your username must consist of alphanumeric characters</div>
                    <!--<div ng-message="usernameAvailable">The username entered has already been registered</div>-->
                </div>


                <!--<div ng-hide="signupForm.loggin.$valid" ng-messages="signupForm.loggin.$error"-->
                     <!--class="errors">-->
                    <!--<div ng-message="required">You did not enter your name</div>-->
                <!--</div>-->

                <input type="password" ng-model="logginCtrl.signupUser.password"
                       name="password" required placeholder="Password"/>

                <input type="password" ng-model="logginCtrl.signupUser.confPassword"
                       name="confPassword"
                       required
                       compare-to-validator="logginCtrl.signupUser.password"
                       placeholder="Password confirmation"/>

                <div ng-if="signupForm.confPassword.$touched" ng-messages="signupForm.confPassword.$error" class="errors">
                    <div ng-message="compareTo">Both passwords must match</div>
                </div>


                <button ng-click="">
                    <i class="fa fa-user"></i> Register
                </button>

            </form>
            <!--<axi-loader></axi-loader>-->
        </section>

    </div>


</div>



