
.tag-menu {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 80px;
  bottom: 0;
  background: #19212D;

  header{
    background: #ff005d;
  }
}


.search-input {
  font-size: 20px;
  margin: 15px 10px;
  padding: 4px;
  min-height 35px;
  flex: 1;
}

.search-tags {
  .item {
    border-radius: 30px;
    margin: 4px !important;

    i {
      right: 13px;
      top: 12px;
      font-size: 30px;
      position: absolute;
    }

  }
}

.center-img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  /*.effect{*/
    /*-webkit-transition: .3s ease-in-out -webkit-transform;*/
    /*background: rgba(#fff, .5);*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-transform: translate3d(100%, 100%, 0) rotateZ(45deg);*/
    /*position: relative;*/

    /*&.active{*/
      /*-webkit-transform: translate3d(-100%, -100%, 0) rotateZ(45deg);*/
    /*}*/

  /*}*/

  .profile-pic {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: auto;
    height: 100%;
    opacity .75;
  }
}

$tile-w = 80px;
$tile-h = 106px;

.employee-grid {

  /*opacity: .1;*/
  -webkit-transition: .3s ease-in-out -webkit-transform;
  background-color: #202a39;
  position: absolute;



  &.is-opened {
    /*calc(100% - 80px)*/
    -webkit-transform: translate3d(240px, 0, 0);

    .employee-tile-wrap {
      width: 80px;
    }
  }

  .employee-tile-wrap {

    margin: 0;
    padding: 0;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-wrap: wrap;

    .employee-tile {

      overflow: hidden;
      position relative;
      height: $tile-h;
      width: $tile-w;

      span {
        flex: 1;
        font-size: 22px;
      }

      &.active {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
      }
    }
  }

}

  .app-wrap{
    height: 100%;
  }



