<ion-view title="Employee New" ng-controller="EmployeeNewCtrl">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button ng-click="onBack()" class="button-icon ion-arrow-left-c button button-clear"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSave()" class="button button-clear">Save</button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="tempEmployee.name">
            </label>
        </div>
    </ion-content>
</ion-view>