<ion-view title="Employee Edit" ng-controller="EmployeeEditCtrl">
    <ion-nav-bar class="bar-positive"> </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button ng-click="onBack()" class="button-icon ion-arrow-left-c button button-clear"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onSave()" class="button button-clear">Save</button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <h1>Employee Edit</h1>
    </ion-content>
</ion-view>