<ion-view title="Employee View" ng-controller="EmployeeViewCtrl">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-nav-buttons side="left">
        <button ng-click="onBack()" class="button-icon ion-arrow-left-c button button-clear"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="onEdit()" class="button button-clear">Edit</button>
    </ion-nav-buttons>
    <ion-content padding="false">

        <div class="list card">
            <div class="item item-avatar">
                <img src="./assets/img/photo.jpg">

                <h2>{{currentEmployee.name}}</h2>

                <p>June 30, 1980</p>
            </div>
        </div>

        <div class="subheader-wrap">
            <div class="bar bar-subheader bar-stable">
                <button class="button button-icon icon ion-ios7-minus-outline"
                        ng-click="showDelete = !showDelete"></button>
                <h2 class="title">Tags</h2>
                <button class="button button-icon icon ion-ios7-plus-outline"
                        ng-click="onTagAdd()"></button>
            </div>
        </div>
        <ion-list show-delete="showDelete">
            <ion-item class="item" data-ng-repeat="employeeTagMap in currentEmployee.tagMaps">
                {{employeeTagMap.tag.name}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onTagRemove(employeeTagMap)">
                </ion-delete-button>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>