<div layout="vertical" ng-controller="EmployeesCtrl as employees">

    <section layout="vertical" flex class="view employee fix"
             ng-class="{'is-opened': shared.isOpened}">
        <header layout="horizontal" layout-align="space-between end">
            <button class="" ng-click="employees.onGoto('api.main.tag')">
                <i class="fa fa-tags"></i>
            </button>


            <button ng-class="{'btn-disabled': employees.dataContext.appInfo.isSynchronized}"
                    ng-click="employees.onSynchronize()"
                    ng-show="employees.dataContext.isAuthenticated">
                <i class="fa fa-cloud-upload"></i>
            </button>

            <button ng-click="employees._onGoto('api.login')"
                    ng-hide="employees.dataContext.isAuthenticated">
                <i class="fa fa-user"></i>
            </button>

            <button ng-click="employees._onGoto('api.main.employeeNew')">
                <i class="fa fa-plus-circle"></i>
            </button>
        </header>
    </section>

</div>