<div layout="vertical" ng-controller="EmployeesCtrl as employees">

    <section layout="vertical" flex class="view employee fix"
             ng-class="{'is-opened': app.isOpened}">
        <header layout="horizontal" layout-align="space-between end">
            <button class="" ng-click="employees._onGoto('api.main.tag')">
                <i class="fa fa-tags"></i>
            </button>
            <!--ng-click="employees.onOpenSearch()"-->
            <button ng-class="{'btn-disabled': employees.isSynchronized}"
                    ng-click="employees.onSynchronize()">
                <i class="fa fa-cloud-upload"></i>
            </button>

            <button ng-click="employees._onGoto('api.main.employeeNew')">
                <i class="fa fa-plus-circle"></i>
            </button>
        </header>
    </section>

</div>